.cluster_widget_wrapper{
	width:200px;
	height:200px;
    margin-top:5px;
    margin-bottom:10px;
}
.cluster_widget_label{
    position:absolute;
	top:200px;
	width:200px;
	height:50px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid;
}