.main_menu_window
{
	position:relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border:1px solid;
    height:400px;
    width:250px;
    left:125px;
    overflow-y:auto;
    overflow-x: hidden;  
    background-color: #fff;
}
.main_menu_button_row
{
	position:relative;
	width:180px;
	left:35px;
	top:40px;
}

.main_menu_button
{
	width:180px;
	margin-top: 20px;
}
